body{
    margin: 0;
    background-color: rgba(128, 128, 128, 0.267);
}

.slide-container{
    position: relative;
    width: 100%;
    
}
.slide img{
    width: 100%;
    margin-top: 21px;
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 40%;
    color: black;
    background-color: rgba(255, 255, 255, 0.452);
    padding: 8px 20px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bolder;
}
.next{
    right: 10px;
}
.prev{
    left: 10px;
}
.caption{
    color: white;
    font-size: 40px;
    font-weight: bold;
    position:relative;
    bottom: 51px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.495);
}
.slide{
    display: none;
}